@use "@/styles/fonts/fonts.scss" as *;
:root{
  width:100%;
  min-width:171px;
  @media (max-width: 171px){
    overflow-x: hidden;
  }
}
body {
  
  margin: 0;
  font-family: "Quicksand-Regular";
}