.main{
    //background-color: red;
    font-family: "Quicksand-Bold";
    display: flex;
    ul{
        width: 55%;
        display: flex;
        list-style: none;
        justify-content: space-around;
        font-size: 1pc;
        a{
            text-decoration: none;
            color:black;
        }
    }
}