.main{
    font-family: "Quicksand-Bold";
    display: flex;
    justify-content: space-between;
    margin: 0 4pc;
    height: 5pc;
    .nav{
        width: 55%;
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        font-size: 1pc;
        a.active{
            color: #77BDF1 ;
        }
        a{
            display: flex;
            text-decoration: none;
            align-items: center;
            color:black;
        }
    }
    .icons{
        
        width: 0 5%;
        padding: 0 4pc;
        display: flex;
        align-items: center;
        p{
            padding: 0 0.5pc;
        }
    }
}