@use "@/styles/root.scss" as *;
.app {
    padding: 0.5pc;
    &.banner {background-color: $blue-color;}
    .banner {
        display: flex;
        justify-content: space-between;
        margin: 5px 4pc 0 4pc;
        border: 3px solid #ffffff;
        
        color: #ffffff;
        h2{
            font-family: 'Quicksand-Regular';
        }
        .name {
            margin: 0 1vw;
            color: #ffffff;
            h1{
                font-family: 'Quicksand-Bold';
            }
        }

        .logo {
            font-size: 1.5pc;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 1vw;

            .logo-text {
                display: flex;
                justify-content: right;
                font-size: 150%;
                font-weight: bold;
            }
        }
    }
}
@media (max-width: 646px) {
    .app {
        .banner {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            margin: 5px 1pc 0 1pc;
            padding-top:10px;
            h2 {
                font-size: 1.2pc;
            }
            .name {
                margin: 0.5pc 0;
                h1 {
                    font-size: 1pc;
                }
                h2{
                    font-size:0.8pc;
                }
            }
            .logo {
                font-size: 1.5pc;
                .logo-text {
                    justify-content: center;
                    font-size: 120%;
                }
            }
        }
    }
}