@use "@/styles/root.scss" as *;
.app {
    padding: 0.5pc;
    &.banner {background-color: $blue-color;}
    .banner {
        display: flex;
        justify-content: space-between;
        margin: 5px 4pc 0 4pc;
        border: 3px solid #ffffff;
        
        color: #ffffff;
        h2{
            font-family: 'Quicksand-Regular';
        }
        .name {
            margin: 0 1vw;
            color: #ffffff;
            h1{
                font-family: 'Quicksand-Bold';
            }
        }

        .logo {
            font-size: 1.5pc;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 1vw;

            .logo-text {
                display: flex;
                justify-content: right;
                font-size: 150%;
                font-weight: bold;
            }
        }
    }
}