@use "@/styles/root.scss" as *;

.app {
    padding-bottom: 0.5pc;

    &.banner {
        background-color: #11293E;
    }

    .banner {
        display: flex;
        justify-content: space-between;
        margin: 0px 4pc 0 4pc;
        border: 3px solid #FAE6B9;
        height: 100px;
        color: #ffffff;
        .banner-name {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img{
                padding: 10px;
            }
            .name {
                display: flex;
                flex-direction: column;
                margin: 0 1vw;
                color: #ffffff;
                
                h1 {
                    font-family: 'Cormorant-Garamond-Bold';
                    margin: 0;
                    font-size: clamp(18px, 2vw, 54px);
                }

                h2 {
                    font-family: 'Quicksand-Regular';
                    color: #FAE6B9;
                    margin: 0;
                    font-size: clamp(20px, 1vw, 50px);
                }
            }
        }


        .logo {
            font-size: 1pc;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 1vw;
            font-family: 'Quicksand-Book';

            .text {
                width: 15vw;
            }

            .logo-text {
                display: flex;
                justify-content: right;
                font-size: 150%;
                font-weight: bold;
            }
        }
    }
}

@media (max-width: 646px) {
    .app {
        .banner {
            justify-content: center;
            .logo {
                display: none;
            }
        }
    }
}
@media (max-width: 358px) {
.app {
        .banner {
            width: 230px;
        }
    }
}