@use "@/styles/root.scss" as *;

.app {
    .home {
        display: flex;
        justify-content: space-between;
        height: 35vh;
        background: $blue-color;
        background: linear-gradient(230deg, rgba(119, 189, 241, 0.25) 0%, rgba(176, 215, 245, 0.5) 50%, rgba(207, 202, 202, 1) 100%);

        .images {
            width: 50vw;

            display: flex;
            justify-content: center;
            align-items: center;

        }

        .info {

            width: 40vw;
            height: 100%;
            margin: 0 0 0 5pc;
            display: flex;
            align-content: space-between;
            justify-content: space-around;
            flex-direction: column;

            .hello {
                color: #000000;
            }

            .name {
                font-size: 24px;
                font-family: 'Quicksand-Bold';
            }

            .text {
                padding-right: 13vw;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-around;
            align-items: center;

            span {
                &.all {
                    .icon {
                        display: none;
                    }
                }

                &.cv {
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                button {
                    width: 12vw;
                    height: 6vh;
                    background: none;
                    border: 2px solid $blue-color;
                    border-radius: 5px;
                    font-family: "Quicksand-Bold";

                    &:hover {
                        background-color: $blue-color;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

@media (max-width:1776px) {
    .app {
        .home {
            height: 40vh;

            .info {
                margin: 0 0 0 3pc;

                .text {
                    padding-right: 10vw;
                }
            }
        }

    }
}

@media (max-width:1142px) {
    .app {
        .home {
            .info {
                .buttons {
                    .cv {
                        .icon {
                            width: 80%;
                            height: 80%;
                        }

                        button {
                            font-size: 80%;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1040px) {
    .app {
        .home {
            height: 50vh;

            .info {
                margin: 0 0 0 2pc;

                .text {
                    padding-right: 5vw;
                }
            }
        }

    }
}

@media (max-width:1107px) {
    .app {
        .home {
            .info {
                .buttons {
                    .cv {
                        .icon {
                            width: 60%;
                            height: 60%;
                        }

                        button {
                            font-size: 60%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:895px) {
    .app {
        .home {
            .info {
                .buttons {
                    .cv {

                        button {
                            font-size: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:760px) {
    .app {
        .home {
            .info {
                .buttons {
                    .all {
                        button {
                            font-size: 60%;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:733px) {
    .app {
        .home {
            height: 60vh;

            .info {
                margin: 0 0 0 1pc;

                .name {
                    span {
                        font-size: 100% !important;
                    }
                }

                .text {
                    padding-right: 0vw;
                }
            }
        }
    }
}

@media (max-width:575px) {
    .app {
        .home {
            .info {
                .buttons {
                    .all {

                        button {
                            font-size: 0%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:496px) {
    .app {
        .home {
            height: 70vh;

            .info {
                margin: 0 0 0 1pc;

                .text {
                    padding-right: 0vw;
                }
            }
        }

    }
}

@media(max-width:366px) {
    .app {
        .home {
            .info {
                .name {
                    span {
                        font-size: 90% !important;
                    }
                }
            }
        }
    }
}

@media(max-width:351px) {
    .app {
        .home {
            height: 80vh;

            .info {
                margin: 0 0 0 1pc;

                .text {
                    padding-right: 0vw;
                }
            }
        }

    }
}

@media(max-width:329px) {
    .app {
        .home {
            .info {
                .name {
                    span {
                        font-size: 80% !important;
                    }
                }
            }
        }
    }
}

@media(max-width:302px) {
    .app {
        .home {
            height: 90vh;

            .info {
                margin: 0 0 0 1pc;

                .text {
                    padding-right: 0vw;
                }
            }
        }

    }
}

@media(max-width:293px) {
    .app {
        .home {
            .info {
                .name {
                    span {
                        font-size: 70% !important;
                    }
                }
            }
        }
    }
}

@media(max-width:256px) {
    .app {
        .home {
            .info {
                .name {
                    span {
                        font-size: 60% !important;
                    }
                }
            }
        }
    }
}

@media(max-width:220px) {
    .app {
        .home {
            .info {
                .name {
                    span {
                        font-size: 40% !important;
                    }
                }

                .text {
                    font-size: 40% !important;
                }
            }
        }
    }
}

@media(max-width:240px) {
    .app {
        .home {
            height: 100vh;

            .info {
                margin: 0 0 0 1pc;

                .text {
                    padding-right: 0vw;
                }
            }
        }
    }
}